.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 0.85rem;
  font-weight: bold;
}

.attendTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.8rem;
}

.blue {
  color: #022484;
}

.green {
  color: #1ab373;
}

.yellow {
  color: #ffd600;
}

.red {
  color: #e91d1d;
}
