.title {
  font-size: 0.85rem;
  font-weight: bold;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}
