.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0.5rem;
}

.dateTxt {
  font-size: 0.85rem;
  font-weight: bold;
}

.arrowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.LArrow {
  padding: 0.5rem;
}

.RArrow {
  position: relative;
  left: 0.5rem;
  padding: 0.5rem;
}

.line {
  height: 0rem;
  background-color: #e4e5e7;
  margin: 0.5rem 0 1.5rem;
  border: 0.05rem solid #e4e5e7;
}

.weekConatainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dayOfWeekTxt {
  /* font-family: 'SF Pro Display'; */
  font-style: normal;
  font-weight: 500;
  font-size: 0.625rem;
  text-align: center;
  text-transform: uppercase;
  color: #7e818c;
}

.dateContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.number {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
