main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  touch-action: none;
}

.logo {
  margin-top: 30vh;
  width: 15rem;
  margin-bottom: 40vh;
}
